@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#weather-container {
    display: inline-block;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 20px auto;
}

.weather-card {
    display: inline-block;
    
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 200px; 
}

h3 {
    color: #ffffff;
}

p {
    margin: 8px 0;
    color: #ffffff;
}
